                {
            text-align: center;
            color: red;
            #para1 {
                text-align: center;
                color: red;
                beto es una nota para git trabajo git