                 .box {
                 background-color: rgb(12, 12, 159);
                 margin: 20px;
                 padding: 20px;
                 color: #ffffff;
                 width: 60
             }
             
             body {
                 background-color: grey;
             }
             
             .jeta {
                 background-color: brown;
             }
             
             #jeta1 {
                 text-align: center;
                 color: red;
             }
             
             h1 {
                 font-size: 2.5em;
                 /* 40px/16=2.5em */
             }
             
             .fuente {
                 font-family: "Times New Roman", Times, serif;
             }
             
             * {
                 text-align: center;
                 color: blue;
             }
             
             .serif {
                 color: white;
                 font-style: normal;
                 /* normal italic oblique */
                 font-weight: bold;
                 /* normal -bold*/
                 font-variant: small-caps;
                 /* normal */
                 font-size: 40px;
                 /* 16 px por defecto */
             }
             
             .serif {
                 font-family: "Times New Roman", Times, serif;
             }
             
             h1 {
                 font-size: 2.5em;
                 /* 40px/16=2.5em */
             }
             
             h2 {
                 font-size: 1.875em;
                 /* 30px/16=1.875em */
                 #cap